body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    margin: 3pt;
    box-sizing: border-box;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.header .title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header .title:hover {
    transform: scale(1.1);
    color: #007BFF;
}

.div1 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.div1:hover {
    transform: scale(1.01);
    color: #f39200;
}

.div2 {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.div2:hover {
    transform: scale(1.01);
    color: #f39200;
}
.description{
    color: rgba(0, 0, 0, 0.5);
}
.button1 {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f39200;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button1:hover {
    background-color: #d97a00;
    transform: scale(1.05);
}

#search {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; /* Center the search bar */
}

#search1 {
    width: 80%;
    display: flex;
    margin-bottom: 10pt;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; /* Center the search bar */
}

form {
    display: flex;
    width: 80%;
}
.header-radio{

    margin: 1%;
    font-size: 40pt;
}

.description-radio{
    font-size: 30pt;
    margin-left: 1%;
    margin-bottom: 5%;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

::placeholder {
    color: #999;
}

.list-item {
    display: flex;
    border: 2px solid black;
    width: 600pt;
    height: 100px;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}
.list-item2 {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}
.list-item2 img {
    width: 160px;
    height: 160px;
    border: 1px solid #d97a00;
    margin: 10px;
}
.list-item2 .content {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-bottom: 2px;
}

.list-item img {
    width: 80px;
    height: 80px;
    border: 1px solid #d97a00;
    margin: 10px;
}

.list-item .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.list-item .content .title {
    font-weight: bold;
}

audio {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 auto;
}

label {
    color: #F39200FF;
}

.audio-player {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-pause-btn {
    background: #ff6f61;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

.play-pause-btn:hover {
    background: #ff8578;
}

.play-icon, .pause-icon {
    color: #ffffff;
    font-size: 24px;
    display: none;
}

.play-icon.show, .pause-icon.show {
    display: block;
}

.seek-slider {
    width: 200px;
    margin: 0 10px;
    cursor: pointer;
}

.current-time, .duration {
    font-size: 14px;
    color: #333;
}

