.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
  padding: 20px;
  margin: 40px auto 0;
  background: #646363;
  border: 3px solid #646363;
  border-radius: 40px;
  box-shadow: 3px 5px 14px 5px rgba(0, 0, 0, 0.7);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.radio-title {
  font-size: 26px;
  font-weight: bold;
  color: #f39200;
  margin-bottom: 30px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

.description {
  font-size: 16px;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

/* Main record */
.record {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, #000 60%, #333 95%, #222 98%);
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* Inner label */
.label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f39200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

/* Curved text SVG */
.curved-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: 8s spin linear infinite;
}

/* Animation control when paused */
.curved-text.paused {
  animation-play-state: paused;
}

.icon {
  font-size: 20px;
  color: white;
}

/* Text styling */
text {
  font-size: 18px;
  fill: white;
}


/* Spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}